<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval设置自动重加载时间，最小时间值为5秒钟-->
<Configuration status="OFF" monitorInterval="5">
    <Appenders>
        <!--输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--输出格式
                %d 时间；
                %t 指的是发起这一log request的线程；
                %c或%class{36}或%class{36} 指的是log的类；
                %m或%msg 指的是log request语句携带的message。
                %n 为换行符。 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS z} [%t] %-5level %L %c %M - %msg%n"/>
            <!--过滤器，只打印error及以上级别的日志 -->
            <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>-->
        </Console>

        <!--输出到文件 -->
        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定(false清空，true不清空)-->
        <File name="File" fileName="output.log" bufferedIO="false" advertiseURI="log/output.log" advertise="true" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS z} [%t] %-5level %L %c - %msg%n"/>
        </File>>

        <!--循环打印到文件 -->
        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFile" fileName="log/massage.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS z} [%t] %-5level %L %c %M - %msg%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="File"/>-->
            <appender-ref ref="RollingFile"/>
        </Root>

        <!--单独控制日志输出等级-->
        <!--<Logger name="LogAspect" level="debug" additivity="false">-->
            <!--<appender-ref ref="Console"/>-->
            <!--<appender-ref ref="RollingFile"/>-->
        <!--</Logger>-->

    </Loggers>
</Configuration>